
<ion-grid>
  <ion-row>
   <ion-col>
  <div class="ion-text-nowrap">
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Log in</ion-card-subtitle>
    </ion-card-header>
<ion-card-content>
    <p><ion-list>
  <ion-item>
  <ion-label color="primary" stacked>Username :</ion-label>
    <ion-input type="username" placeholder="Enter Username"></ion-input>
  </ion-item>
<ion-item>
    <ion-label color="primary" stacked>Password :</ion-label>
    <ion-input type="password" placeholder="Enter Password"></ion-input>
  </ion-item>

<ion-item text-wrap>
  <ion-button routerLink='/todo' color="success">Login</ion-button>
  <ion-button routerLink='/register' color="secondary">Register</ion-button>
  </ion-item>
<ion-item text-wrap>
<ion-button color="danger"> cancel</ion-button><pre>
<label>Forgotten</label></pre> <a href> password?</a>
</ ion-item>
</ion-list></p>
  </ion-card-content>
</ion-card>
</div>
    </ion-col>
  </ion-row>
</ion-grid>


      
      