


<ion-card>
  <ion-card-header>
  <ion-card-subtitle>Register</ion-card-subtitle>
</ion-card-header>
<ion-card-content>
    <ion-list>
  <ion-item>
    <ion-label color="primary"> Fisrt Name : </ion-label>
    <ion-input type="Fname" placeholder="Input Fisrt Name"></ion-input>
  </ion-item>
<ion-item>
    <ion-label color="primary" fixed> Last name : </ion-label>
    <ion-input type="Lname" placeholder="Input Last Name"></ion-input>
  </ion-item>
<ion-item>
    <ion-label color="primary" stacked> Email Adress : </ion-label>
    <ion-input type="Email" placeholder="Email address..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked> Phone : </ion-label>
    <ion-input type="phone" placeholder="Phone numbe..."></ion-input>
  </ion-item>


  <ion-item>
    <ion-label color="primary" stacked>Password : </ion-label>
    <ion-input type="password" placeholder="********"></ion-input>
  </ion-item>
<ion-item>
    <ion-label color="primary" stacked>Repaet Password : </ion-label>
    <ion-input type="Rpassword" placeholder="********"></ion-input>
    </ion-item>
  
<ion-item text-wrap>
  <ion-button expand="block">Sign up</ion-button>
  </ion-item>
   <ion-item text-wrap>
<pre>
<ion-label>Already have an account?</ion-label></pre> 
<a href routerLink="/login"> Log in</a>
</ ion-item>
</ion-list>
  </ion-card-content>
</ion-card>